<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AddressBookSuite">
    <test name="GroupTests">
        <classes>
            <class name="com.example.TestsAddressbook.tests.CreateTestContact"/>
            <class name="com.example.TestsAddressbook.tests.CreateTestGroup"/>
            <class name="com.example.TestsAddressbook.tests.DeletedTestGroup"/>
            <class name="com.example.TestsAddressbook.tests.ModificationTestContact"/>
            <class name="com.example.TestsAddressbook.tests.ModificationTestGroup"/>
            <class name="com.example.TestsAddressbook.tests.PhoneTestContact"/>
        </classes>
    </test>
</suite>
